.practiceCard{
    width:500px;
    padding:35px;
    text-align: left;
    margin:auto;
}

.title{
  font-size: 13px;
  font-family: 'BentonSans', sans-serif;
  color:rgb(143, 18, 18);
  border-bottom: 5px solid black;
  padding:10px 0;
  font-weight: bold;
}

.sevenColumns {
    padding:8px;
}

.name{
    color:rgb(40, 40, 207);
    padding:8px 0;
    font-weight: bold;
}
.text{
    font-family: 'BentonSans', sans-serif;
    padding:5px 0;
}

.image *{
   border-radius: 150px;
   width:70px;
   position:relative; 
   left:400px; 
   top:-70px
}

.pro1, .pro2, .pro3, .pro4, .pro5, .pro6{
    border-bottom: 1px solid black;
    padding-top: 5px;  
    height:100px
}

.pro5 .image{
    border-radius: 150px;
    width:70px;
    position:relative;  
    top: 15px
}

.pro6 .image{
    border-radius: 150px;
    width:70px;
    position:relative;  
    top: 15px
}
